__pycache__/*
src/datasets/__pycache__/*
src/decoders/__pycache__/*
src/encoders/__pycache__/*
.vscode/*
wandb/*
archives/*
archive/*
test/*
models/*
docs/*
figures/*
-old-code-/*
generalization_docs/*
*.zip
*.tar.gz
*_v*.py
benchmark-code/*

dataset/uniprot_sprot_fungi.dat.gz
dataset/uniprot_sprot_human.dat.gz
read.ipynb
dev-variants/*
dataset/uniprot_sprot_bacteria.dat.gz
dataset/uniprot_sprot_bacteria.csv.gz
dataset/uniprot_sprot_viruses.dat.gz
dataset/uniprot_sprot_viruses.csv.gz
dataset/uniprot_sprot_human.csv.gz
dataset/uniprot_sprot_fungi.csv.gz
dataset/uniprot_sprot
dataset/old_crossrefs
dataset/uniprot_*
dataset/STRING/notused
dataset/STRING/links*
dataset/STRING/*
dataset/*
!dataset\DRUGBANK\uniprot_entry_names.json
models_dev/*
paper/*

*.detailed.v*
*.full.v*
dataset/vitagraph.tsv
dataset/pathogenkg/VitaGraph_human_extended.tsv
dataset/pathogenkg/PathogenKG_human_*
dataset\pathogenkg\PathogenKG_*

bulk_replace*
train_and_eval_drkg_reduced_extended*
train_link_prediction_*
README__*
.claude*

scrapers/get_string__.py
logs/
misc/
docs/*
bkps/*

7990465B.tmp
archives/*
models/*
wandb/*
drug_rank*
protein_similarity/
dataset/STRING/*.protein.*


# notes
src/__pycache__/
writes/
dev/*

# allow 
!dataset/DRUGBANK/taxons/drugbank_microorganisms_with_pathogen_status.csv
!dataset/DRUGBANK/uniprot_entry_names.json